<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.babarehner.android.symtrax">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".SymTraxActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".AddEditSymTraxActivity"
            android:parentActivityName=".SymTraxActivity">
            <!-- Parent activity metadata to support Android 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".AddEditSymTraxActivity" />
        </activity>

        <activity
            android:name=".SymptomActivity"
            android:parentActivityName=".SymTraxActivity">
            <!-- Parent activity metadata to support Android 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SymptomActivity" />
        </activity>

        <activity
            android:name=".EditSymptomActivity"
            android:parentActivityName=".SymptomActivity">
            <!-- Parent activity metadata to support Android 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".EditSymptomActivity" />
        </activity>

        <provider
            android:name=".data.SymTraxProvider"
            android:authorities="edu.babarehner.android.symtrax"
            android:exported="false" />
    </application>

</manifest>